<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benzerlik Skoru</title>
</head>
<body>
    <h2>Benzerlik Skoru</h2>
    <p>Sayfalar arasindaki benzerlik skoru: {{skor}}</p>
    <p>1. URL'nin anahtar kelimeleri ve bulunma sayilari:</p>
    <p>{{url1Keys}}</p>
    <p>2. URL'nin anahtar kelimeleri ve bulunma sayilari:</p>
    <p>{{url2Keys}}</p>
    <script>console.log("{{skor}}")</script>
</body>
</html>